@media screen and (max-width:1024px) {
    
    .coll6 p{
        display:none;
    }
    .coll2{
        display: none;
    }
    .coll4{
        display: none;
    }
    .coll5{
        display: none;
    }
}