*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;
 }
 .row1{
     height: 60px;
     background-color: #0f1111;
     color: white;
     display: flex;
     justify-items: center;
     align-items: center;
     justify-content: space-evenly;
     overflow: hidden;
 }
 .flag{
    width: 20px;
    height: 15px;
    margin: 6px;
 }
 .coll7{
    height: 40px;
    display: flex;
    z-index: 1;
 }
 ul{
    list-style-type: none;
    background-color:#0f1111;
    color: white;
}
ul li{
    display: inline-block;
    padding: 10px;
}
ul li:hover{
    color: white;
    cursor: pointer;
}
.dropdown{
    display:none;
}
.dropdown ul li:hover{
    color: orange;
}
ul li:hover .dropdown{
    display: block;
    position: absolute;
    margin-left: -15px; 
}
.dropdown ul{
    margin: 0;
    padding: 0;
    width: 250px;
    height: 400px;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin-top: 35px;
}
.dropdown ul li{
    display: block;
    margin-left: 20px;
}
 .coll1{
    height: 50px;
    width: 100px;
    text-align: right;
 }
 .img1{
    background-size: cover;
    height: 50px;
    width: 100px;
    text-align: left;
 }
 .border{
    border: 1.5px solid transparent;
 }
 .border:hover{
    border: 1.5px solid white;
 }
 .coll2{
    width: 200px;
    height: 50px;
 }
 .para1{
    color: #cccccc;
    font-size: 0.85rem;
    margin-top: 7px;
    margin-left: 15px;
 }
 .para2{
    font-size: 1rem;
    margin-left: 3px;
}
.c2-r1{
    display: flex;
    align-items: center;
}
.coll3{
    display: flex;
    height: 620px;
    height: 40px;
    background-color: pink;
    border-radius: 4px;
    justify-content: space-evenly;
}
.coll3:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 500px;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
span{
    font-size: 0.7rem;
}
.coll4{
    height: 40px;
    width: 130px;
    padding-top: 10px;
}
.coll4 p{
    margin-left: 10px;
}
.c4-r1{
    font-size: 0.85rem;
    font-weight: 700;
    margin-left: 10px;
}
.coll5{
    height: 40px;
    width: 100px;
    padding-top: 10px;
}
.coll5 p{
    margin-left: 20px;
}
.coll6{
    height: 55px;
    width: 100px;
    font-size: 0.85rem;
    font-weight: 700;
    display: flex;
}
.coll6 i{
    font-size: 30px;
    margin-top: 10px;
    margin-left: 20px;
}
.coll6 p{
    font-size: 17px;
    margin-top: 25px;
}
.enLi{
    display: flex;
}
.en{
    margin-top: 5px;
}
.drdFooter{
    margin-top: 10px;
    border-top: 1px solid black;
    margin-left: 30px;
    display: flex;
    font-size: 8px;
}
.drdFooter h2{
    margin-left: 10px;
}
.inf{
    width: 20px;
    height: 15px;
}
.row2{
    height: 42px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}
.row2-coll1{
    width: 40px;
}
.row2-coll2 p{
    display: inline;
    margin-left: 10px;
}
.row2-coll2{
    width: 70%;
    font-size: 0.85rem;
    margin-left: 10px;
}
.row2-coll3{
    font-size: 0.9rem;
    font-weight: 700;
}
.img3{
    height: 40px;
}
.border2{
    border: 1.5px solid transparent;
    padding: 5px;
 }
 .border2:hover{
    border: 1.5px solid white;
    padding: 5px;
 }
.row3{
    overflow: hidden;
    position: relative;
    background-size: cover;
    height: 350px;
    background-repeat: no-repeat;
    animation: change 10s infinite ease-in-out;
}
@keyframes change{
    0%
    {
        background-image: url("photos/amazon2.jpg");
    }
    16%
    {
        background-image: url("photos/amazon3.jpg");
    }
    32%
    {
        background-image: url("photos/amazon4.jpg");
    }
    48%
    {
        background-image: url("photos/amazon5.jpg");
    }
    64%
    {
        background-image: url("photos/amazon6.jpg");
    }
    80%
    {
        background-image: url("photos/amazon7.jpg");
    }
    100%
    {
        background-image: url("photos/amazon8.jpg");
    }
    
}
.row4{
    height: 470px;
    display: flex;
    background-color: #e2e7e6;
    overflow: hidden;
}
.cards{
    width: 23%;
    height: 450px;
    background-color: white;
    box-shadow: 2px 2px 10px black;
    margin-top: 20px;
    margin-left: 25px;
}
.cards:hover{
    box-shadow: 2px 2px 10px green;
}
.r4-img{
   width: 100%;
   margin: 10px;
   border-top-right-radius: 5px;
   border-top-right-radius: 5px;
   
}
.r4-img1{
    width: 320px;
    height: 250px;
}
.r4-para1{
    margin: 40px;
    margin-left: 5px;
}
.r4-c2-img{
    margin: 5px;
    margin-left: 10px;
}
.r4-c2-img1{
    display: flex;
    margin: 7px;
    height: 100px;
    width: 150px;
}
.r4-para2{
    display: flex;
    margin-left: 10px;
}
.r4-pp{
    margin-left: 124px;
}
.small1{
    margin: 15px;
}
.small2{
    margin: 31px;
}
.sell{
    background-color:#0f1111;
    color: white;
    border: none;
    margin-left:-6px;
}
.row5{
    height: 400px;
    display: flex;
    background-color: #e2e7e6;
    overflow: hidden;
}
.cards2{
    width: 100%;
    height: 300px;
    background-color: white;
    box-shadow: 2px 2px 10px black;
    margin-top: 20px;
    margin-left: 25px;
}
.cards2:hover{
    box-shadow: 2px 2px 10px green;
}
.r5-c1{
    display:flex;
    margin-top: 30px;
    margin-left: 10px;
}
.r5-a{
    margin-left: 50px;
}
.r5-img{
    height: 195px;
    width: 207px;
}
.row6{
    height: 300px;
    display: flex;
    background-color: #e2e7e6;
    margin-top: -70px;
    overflow: hidden;
}
.row7{
    height: 500px;
    display: flex;
    background-color: #e2e7e6;
    margin-top: 20px;
    overflow: hidden;
}
.r7-c2-img1{
    margin-left: 80px;
    text-align: center;
}
.row8{
    height: 350px;
    display: flex;
    background-color: #e2e7e6;
    overflow: hidden;
    
}
.row9{
    height: 150px;
    background-color:white;
    text-align: center;
    overflow: hidden;
}
.row9 h1{
    margin-top: 30px;
}
.r9-button{
    background-color: rgb(210, 221, 10);
    color:black;
    font-weight: bold;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 300px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-top: 10px;
}
.r9-button:hover{
    background-color:darkorange;
}
.row9 p{
    margin-top: 10px;
}
.row10{
    height: 42px;
    background-color: #222f3d;
    color: white;
    text-align: center;
    overflow: hidden;
}
.r10-c1{
    padding: 10px;
}
.row11{
    height: 500px;
    background-color: #0f1111;
    color: white;
    display: flex;
    text-align: center;
    overflow: hidden;
}
.r11-c1{
    width:150px;
    text-align:left;
    margin-top: 40px;
    margin-left: 200px;
}
.r11-c2{
    width:200px;
    text-align:left;
    margin-top: 40px;
    margin-left: 200px;
}